tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.notify {
    z-index: 22222222222222222222;
    height: 60px;
    /* overflow: hidden; */
}

.items-start {
    overflow: hidden;
    transition: all .3s;
}


.shadow-lg {
    transition: all 5s;
    border-radius: 15px !important;
}



@media screen and (max-width:600px) {
    .shadow-lg {
        position: absolute !important;
        left: 20px;
        top: 50px;
        width: 87%;
    }

}


.loading-spiner {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: hsl(25, 97%, 53%); */
    background-color: black;
    top: 0;
    left: 0;
    z-index: 10000000000000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.btn-delete{
    background-color: transparent;
    border: 1px solid #FF3D00;
    padding: 8px 15px;
    border-radius: 10px 20px;
    color: #ff2020 !important;
}
.btn-delete:hover{
    background-color: #ff2020;
    color: white !important;
}

.btn-edit{
    background-color: transparent;
    border: 1px solid rgb(235, 173, 2);
    padding: 8px 15px;
    border-radius: 10px 20px;
    color:  rgb(207, 152, 0) !important;
    font-weight: bold;
}
.btn-edit:hover{
    background-color: rgb(235, 173, 2);
    color:  white !important;
}
